<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="icons.css" /> -->
    <link rel="stylesheet" href="style.css" />
    <title>YT</title>
</head>

<body>
    <div class="form">
        <input id="search" type="text" />
        <button onclick="main.search()">Search</button>
    </div>

    <table>
        <thead>
            <tr>
                <th style="width: 20%">Thumbnail</th>
                <th style="width: 50%">Title</th>
                <th style="width: 10%"></th>
                <th style="width: 20%">Play</th>
            </tr>
        </thead>
        <tbody id="tablebody">

        </tbody>
    </table>

    <video></video>

</body>
<script src="script.js"></script>

</html>