* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
}

.form {
    text-align: center;
    padding: 32px;
    font-size: 20px;
}

input {
    font-size: inherit;
    width: 600px;
    padding: 16px;
}

button {
    font-size: inherit;
    width: 160px;
    padding: 16px;
}

button:hover {
    cursor: pointer;
}

table {
    margin: auto;
    text-align: left;
    width: 90%;
}

thead {
    opacity: 0;
}

th {
    padding: 16px;
}

td {
    padding: 8px;
    padding-left: 16px;
}

td.col-1 {
    width: 10%;
}

td.col-2 {
    width: 58%;
}

td.col-3 {
    width: 8%;
}

td.col-4 {
    width: 8%;
}

td.col-5 {
    width: 8%;
}

td.col-6 {
    width: 8%;
}

img {
    height: 80px;
}

span {
    font-size: 32px;
    vertical-align: middle;
}

span:hover {
    cursor: pointer;
}